body {
    margin: 0;
    background-color: #081a2c;
    font-family: Arial, sans-serif;
    background-image: url('../images/paper_5.png');
}


.main-content {
    background-color: #eef1f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); 
    position: relative; 
}

.main-content form > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
}   

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 8px;
}


button {
    width: 80%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.error {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px; /* ajuster selon besoin (ou top: 20px;) */
    width: calc(100% - 40px);
    max-width: 320px;
    color: red;
    text-align: center;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}